.filter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 15px;

  font-size: 0.7rem;

  color: inherit;

  border-radius: 8px;
  background-color: inherit;
}

.filter-wrapper span {
  cursor: pointer;

  padding: 5px;

  transition: 0.3s;
}

.filter-wrapper span:hover {
  color: rgb(123, 126, 156);

  text-shadow: 0 0 1px rgb(80, 92, 199);
}

.tasks-filtered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tasks-cleanup {
  cursor: pointer;
}

.tasks-cleanup:hover {
  text-shadow: 0 0 1px rgb(221, 97, 97);
}
