.todo-app {
  max-width: 700px;

  width: 90vw;

  margin-inline: auto;

  margin: 50px 0 30px 0;

  position: absolute;
}
.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-title {
  color: aliceblue;

  font-weight: 700;

  font-size: 3rem;
}

.toggle-theme {
  display: block;

  padding: 5px;

  cursor: pointer;
}

@media screen and (min-width: 1450px) {
  .todo-app {
    max-width: 900px;
  }
}
