@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;

  list-style: none;
  font-family: "Josefin Sans", sans-serif;

  transition: 0.3s;
}

input,
button {
  border: none;

  font-family: inherit;
  font-size: 1rem;

  outline: none;
}

.App {
  /* max-width: 1440px; */
  width: 100vw;
  height: 100vh;

  margin-inline: auto;

  position: relative;

  display: flex;
  justify-content: center;

  background-color: rgb(24, 24, 37);
}

.App.light {
  background-color: rgb(232, 232, 236);
}

.App .bg-image {
  width: 100%;

  margin-inline: auto;

  height: 250px;
  width: 100vw;

  position: absolute;

  background-image: url("./assets/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.App.light .bg-image {
  background-image: url("./assets/bg-desktop-light.jpg");
}
